@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --background: 224 71% 4%;
  --muted-foreground: 161, 161, 170;
  --primary: 255, 255, 255;
  --primary-foreground: 23, 23, 23;
  --secondary: 23, 23, 23;
  --accent: 161, 161, 170;
  --accent-foreground: 255, 255, 255;
  --ring: 161, 161, 170;
}

body {
  color: rgb(var(--foreground));
  background: hsl(var(--background));
  font-feature-settings: 'rlig' 1, 'calt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


